<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ACourses</title>
        <!-- -------------------------------- fonts -------------------------------- -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

        <!-- --------------------------------- font awsem --------------------------------- -->
        <link rel="stylesheet" href="../content/css/vendors/css/all.min.css">

        <!-- --------------------------------- css --------------------------------- -->
        <link rel="stylesheet" href="../content/css/main/main.css">

        <!-- ---------------------------- css animation ---------------------------- -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <body>
        <div class="loading loading-login">
            <div class="loading-ele"></div>
        </div>
        <main class="main-index__login">
            <header class="header">
                <div class="container">
                    <div class="header-content">
                        <a href="index.html" class="header-logo__link"><h1
                                class="header-logo text-uppercase">ACourses</h1></a>
                        <nav class="header-nav">
                            <ul class="nav-list">
                                <li class="nav-list__element"><a
                                        href="../index.html"
                                        class="nav-list__link text-capitalize">home</a></li>
                                <li class="nav-list__element"><a
                                        href="about.html"
                                        class="nav-list__link text-capitalize nav-list__about">about</a></li>
                                <li
                                    class="nav-list__element nav-list__courses"><a
                                        href="courses.html"
                                        class="nav-list__link text-capitalize">courses</a></li>
                                <li
                                    class="nav-list__element nav-list__trainers"><a
                                        href="trianers.html"
                                        class="nav-list__link text-capitalize ">trainers</a></li>
                                <li
                                    class="nav-list__element nav-list__events"><a
                                        href="events.html"
                                        class="nav-list__link text-capitalize">events</a></li>
                                <li class="nav-list__element"><a
                                        href="contact.html"
                                        class="nav-list__link text-capitalize nav-list__contact"
                                        style="color: #5fcf80;">contact</a></li>
                                <li
                                    class="nav-list__element nav-list__login"></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class="secondary-header">
                <div class="container">
                    <div class="secondary-header__content text-center">
                        <h2 class="secondary-header__head text-capitalize">Contact
                            Us</h2>
                        <p class="secondary-header__title">Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Ratione minima
                            doloremque illum quidem quos qui vero quasi, labore
                            deleniti debitis aspernatur architecto nesciunt
                            velit
                            consectetur? Pariatur natus ab illum dolorem!</p>
                    </div>
                </div>
            </div>

            <section class="index-section contact-section">
                <div class="container">
                    <div class="row">
                        <div class="w-30">
                            <div class="contact-section__content">
                                <ul class="contact-section__list">
                                    <li class="contact-section__element">
                                        <div class="contact-section__icon"><i
                                                class="fa-solid fa-location-crosshairs"></i></div>
                                        <div class="contact-section__details">
                                            <h3 class="contact-section__header">Location:</h3>
                                            <p class="contact-section__text">Ameen
                                                Hamada, Elmarg, Cairo, Egypt</p>
                                        </div>
                                    </li>
                                    <li class="contact-section__element">
                                        <div class="contact-section__icon"><i
                                                class="fa-regular fa-envelope"></i></div>
                                        <div class="contact-section__details">
                                            <h3 class="contact-section__header">Email:</h3>
                                            <p class="contact-section__text">abdosamu538@gmail.com</p>
                                        </div>
                                    </li>
                                    <li class="contact-section__element">
                                        <div class="contact-section__icon"><i
                                                class="fa-solid fa-mobile-screen-button"></i></div>
                                        <div class="contact-section__details">
                                            <h3 class="contact-section__header">Call:</h3>
                                            <p class="contact-section__text">+20
                                                102
                                                069 7117</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-70">
                            <div class="contact-section__content">
                                <form action class="contact-form">
                                    <input type="text"
                                        class="input-content input-firstName"
                                        placeholder="First Name">
                                    <input type="text"
                                        class="input-content input-lastName"
                                        placeholder="Last Name">
                                    <input type="text"
                                        class="input-content input-subject"
                                        placeholder="Subject">
                                    <textarea name id cols="30"
                                        class="input-content text-area input-message"
                                        rows="10"
                                        placeholder="Message"></textarea>
                                    <div class="text-center">
                                        <input type="submit"
                                            value="Send Message"
                                            class="form-submit">
                                    </div>
                                </form>
                                <div class="failed">please enter data</div>
                                <div class="succes">Message send succesfully</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="index-footer">
                <div class="container">
                    <div class="row">
                        <div class="w-25 footer-first">
                            <h3 class="footer-first__header">ACourses</h3>
                            <p class="footer-first__title">
                                A108 Adam Street<br>New York, NY 535022<br>United
                                States<br><br>
                                <strong>Phone</strong>: +201020697117<br>
                                <strong>Email</strong>: abdosamu538@gmail.com
                            </p>
                        </div>
                        <div class="w-25 footer-sec">
                            <h3 class="footer-sec__header">Useful Links</h3>
                            <ul class="footer-sec__list">
                                <li class="footer-sec__element"><i
                                        class="fa-solid fa-angle-right footer-sec__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-sec__link">home</a></li>
                                <li class="footer-sec__element"><i
                                        class="fa-solid fa-angle-right footer-sec__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-sec__link">about</a></li>
                                <li class="footer-sec__element"><i
                                        class="fa-solid fa-angle-right footer-sec__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-sec__link">courses</a></li>
                                <li class="footer-sec__element"><i
                                        class="fa-solid fa-angle-right footer-sec__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-sec__link">Terms
                                        of service</a></li>
                                <li class="footer-sec__element"><i
                                        class="fa-solid fa-angle-right footer-sec__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-sec__link">Privacy
                                        policy</a></li>
                            </ul>
                        </div>
                        <div class="w-25 footer-third">
                            <h3 class="footer-third__header">Our Services</h3>
                            <ul class="footer-third__list">
                                <li class="footer-third__element"><i
                                        class="fa-solid fa-angle-right footer-third__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-third__link">Web
                                        Design</a></li>
                                <li class="footer-third__element"><i
                                        class="fa-solid fa-angle-right footer-third__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-third__link">Web
                                        Development</a></li>
                                <li class="footer-third__element"><i
                                        class="fa-solid fa-angle-right footer-third__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-third__link">Product
                                        Management</a></li>
                                <li class="footer-third__element"><i
                                        class="fa-solid fa-angle-right footer-third__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-third__link">Marketing</a></li>
                                <li class="footer-third__element"><i
                                        class="fa-solid fa-angle-right footer-third__icon"></i><a
                                        href="#"
                                        class="text-capitalize footer-third__link">Graphic
                                        Design</a></li>
                            </ul>
                        </div>
                        <div class="w-25 footer-fourth">
                            <h3 class="footer-fourth__header">Join Our
                                Newsletter</h3>
                            <p class="footer-fourth__title">Tamen quem nulla
                                quae
                                legam multos aute sint culpa legam noster magna</p>
                            <form action class="footer-form">
                                <input type="email" class="footer-form__email">
                                <input type="submit" value="Subscribe"
                                    class="footer-form__submit">
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="../content/css/vendors/js/all.min.js"></script>
        <script src="../content/js/main/contact.js"></script>
    </body>
</html>