$main-color: #5fcf80;
$hover-color: #37b65d;
$bg-color: #f6f7f6;
$icon-bg-color: #ecf9f0;
$sec-text-color: #777777;
$third-text-color: #444444;
$fourth-text-color: #aaaaaa;
$fivth-text-color: #37423b;
$sixth-text-color: #ecf9f0;
$seventh-text-color: #848484;
$card-border: #e5f0e8;
$icon-color: #7e9486;