@mixin black-white($element, $color) {
    @if ($element ==white) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color;
    }

    @else {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color;
    }
}

@mixin breakpoints($point) {
    @if $point ==mobile {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $point ==small {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $point ==medium {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $point ==large {
        @media (min-width: 1200px) {
            @content;
        }
    }
}